/* Header.css */

.App-logo {
    pointer-events: none;
}

.mainheader {
    position: fixed;
    top: 0;
    left: 0;
    font-weight: bold;
    font-size: large;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: #282c34;
    color: #3498db;
    border-right: 1px solid #2c3e50; /* Add border to separate navigation from content */
    z-index: 1;
    width: 15rem;
  }
  
  .mainnav {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  .mainnav a {
    margin: 1em 0;
    color: #ffffff;
    font-style: normal;
    text-decoration: none;
    text-align: center;
  }
  
  .mainnav a:hover {
    font-style: oblique;
  }